/*  your css code here. If applicable */


#p{
	 background-color: lightgrey;
	 text-align: center,
}
 .code-container {
            display: flex;
	        align-content: center
        }
  .code {
            width: 2em;
            height: 2em;
            font-size: 1.5em;
            text-align: center;
            margin: 0 0.2em;
        }